.dashboard {
  min-height: 100vh;
  background-color: #0e3b7e;
  color: white;
  font-family: "Courier New", Courier, monospace; }
  .dashboard__content {
    display: flex;
    min-height: 92vh; }
    .dashboard__content--navigation {
      background-color: green;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 30%; }
      .dashboard__content--navigation .greeting {
        font-size: 2rem; }
      .dashboard__content--navigation .side-nav {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #1a4a91;
        box-shadow: 4px 5px 3px #1c1a8b; }
        .dashboard__content--navigation .side-nav__link {
          color: white;
          padding: 2rem;
          width: 100%; }
          .dashboard__content--navigation .side-nav__link:hover {
            background-color: rgba(255, 255, 255, 0.459);
            border-radius: 5px; }
    .dashboard__content--display {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 70%;
      background: linear-gradient(rgba(77, 135, 223, 0.63), rgba(22, 58, 105, 0.582)), url(../images/tvpicture.jpeg);
      background-size: cover;
      background-position: left; }

.showButton {
  background-color: #0f31cc;
  border: none;
  color: white;
  padding: 5px; }

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(109, 109, 109, 0.486)), url(../images/landing1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .landing__text {
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
    padding-top: 6rem;
    font-family: "Courier New", Courier, monospace;
    align-items: flex-end; }
    @media only screen and (max-width: 700px) {
      .landing__text {
        padding-right: 0;
        align-items: center; } }
    .landing__text--title {
      font-size: 3rem;
      font-weight: 900; }
      @media only screen and (max-width: 700px) {
        .landing__text--title {
          font-size: 2rem; } }
    .landing__text--info {
      width: 25rem;
      font-weight: 700;
      line-height: 2rem; }
      @media only screen and (max-width: 700px) {
        .landing__text--info {
          width: 15rem; } }
    .landing__text--login {
      background-color: white;
      border-radius: 2rem;
      text-decoration: none;
      color: #4d4d4d;
      margin-right: 10rem;
      padding: 10px; }
      @media only screen and (max-width: 700px) {
        .landing__text--login {
          margin-right: 0rem;
          align-self: center; } }
      .landing__text--login:hover {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        text-decoration: none; }

.navbar {
  font-family: "Courier New", Courier, monospace; }
  .navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 500; }
  .navbar .nav-link {
    font-size: 1.25rem;
    color: white; }

.search {
  background-color: #0E3B7E;
  font-family: "Courier New", Courier, monospace; }
  .search h1 {
    color: white;
    text-align: center;
    padding-top: 2rem; }

.movieList {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem; }
  .movieList .movie {
    background: #0267ff; }
    .movieList .movie__img {
      opacity: 0.7;
      cursor: pointer; }
      .movieList .movie__img:hover {
        opacity: 1; }

html, body {
  height: 100%; }

.login {
  background-color: grey; }
  .login__background {
    background-color: green; }
