.dashboard {
  height: 100vh;
  background-color: #001A40;
  color: white; }
  .dashboard__content {
    display: flex; }
    .dashboard__content--navigation {
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 30%; }
      .dashboard__content--navigation .greeting {
        font-size: 2rem; }
      .dashboard__content--navigation .side-nav {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: grey; }
        .dashboard__content--navigation .side-nav__link {
          color: white;
          padding: 2rem;
          width: 100%; }
          .dashboard__content--navigation .side-nav__link:hover {
            background-color: green;
            border-radius: 1rem; }
    .dashboard__content--display {
      border: 2px solid yellow;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 70%; }

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(109, 109, 109, 0.486)), url(../images/landing1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .landing__text {
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
    padding-top: 6rem;
    font-family: "Courier New", Courier, monospace;
    align-items: flex-end; }
    @media only screen and (max-width: 700px) {
      .landing__text {
        padding-right: 0;
        align-items: center; } }
    .landing__text--title {
      font-size: 3rem;
      font-weight: 900; }
      @media only screen and (max-width: 700px) {
        .landing__text--title {
          font-size: 2rem; } }
    .landing__text--info {
      width: 25rem;
      font-weight: 700;
      line-height: 2rem; }
      @media only screen and (max-width: 700px) {
        .landing__text--info {
          width: 15rem; } }
    .landing__text--login {
      background-color: white;
      border-radius: 2rem;
      text-decoration: none;
      color: #4d4d4d;
      margin-right: 10rem;
      padding: 10px; }
      @media only screen and (max-width: 700px) {
        .landing__text--login {
          margin-right: 0rem;
          align-self: center; } }
      .landing__text--login:hover {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        text-decoration: none; }

.navbar {
  font-family: "Courier New", Courier, monospace; }
  .navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 500; }
  .navbar .nav-link {
    font-size: 1.25rem;
    color: white; }

html, body {
  height: 100%; }

.login {
  background-color: grey; }
  .login__background {
    background-color: green; }
