html, body {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px; }

.search {
  min-height: 100vh; }
  .search__container {
    padding: 4rem; }
    @media only screen and (max-width: 380px) {
      .search__container {
        padding: 1rem; } }
  .search__list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-around;
    padding: 3rem;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.75); }
    .search__list .item_poster {
      box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.75); }
    .search__list .text-hover {
      position: relative;
      cursor: pointer; }
    .search__list img {
      display: block; }
      @media only screen and (max-width: 1172px) {
        .search__list img {
          height: 15rem; } }
    .search__list .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12); }
    .search__list .text-hover:hover .overlay {
      opacity: 1; }
    .search__list .text {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
      @media only screen and (max-width: 1172px) {
        .search__list .text {
          font-size: 1rem; } }

.linearButton {
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  padding: 1rem;
  box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none; }
  .linearButton:hover {
    cursor: pointer;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); }

.loadMorePos {
  padding-left: 15%;
  padding-top: 2rem; }

.dashboard {
  min-height: 60vh;
  background-color: #008793;
  color: white; }
  .dashboard__content {
    display: flex;
    min-height: 92vh; }
    @media only screen and (max-width: 600px) {
      .dashboard__content {
        flex-direction: column; } }
    .dashboard__content--navigation {
      background: #008793;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 30%; }
      .dashboard__content--navigation .greeting {
        font-size: 2rem; }
      @media only screen and (max-width: 600px) {
        .dashboard__content--navigation {
          flex-direction: row;
          width: 100%;
          padding: 0;
          flex-wrap: wrap; } }
      .dashboard__content--navigation .side-nav {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.75); }
        @media only screen and (max-width: 600px) {
          .dashboard__content--navigation .side-nav {
            flex-direction: row;
            width: 100%; } }
        .dashboard__content--navigation .side-nav__link {
          color: white;
          padding: 2rem;
          font-weight: bold;
          width: 100%;
          border-top: 1px solid #a8eb12; }
          @media only screen and (max-width: 600px) {
            .dashboard__content--navigation .side-nav__link {
              padding: 1rem; } }
          .dashboard__content--navigation .side-nav__link:hover {
            background-color: rgba(255, 255, 255, 0.459);
            border-radius: 5px; }
    .dashboard__content--display {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 70%;
      background: linear-gradient(to left top, #05193742, #004d7a59, #00879394, #00bf73af, #a6eb12cc), url(../images/tvpicture.jpeg);
      background-size: cover;
      background-position: left; }
      @media only screen and (max-width: 600px) {
        .dashboard__content--display {
          width: 100%;
          min-height: 76vh; } }

.list_item {
  padding: 1rem;
  width: 100%;
  list-style: none;
  background-color: #004d7a59;
  border-bottom: 2px solid #00bf73af;
  display: flex;
  justify-content: space-between; }
  .list_item__delete {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to left, #00bf73af, #a6eb12cc);
    color: white;
    font-weight: bold;
    transition: all .5s; }
    .list_item__delete:hover {
      cursor: pointer;
      background: linear-gradient(to left, #004d7a59, #4b65aac0); }

.App {
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12); }

.genrePage {
  min-height: 100vh; }

.genreItem {
  color: white;
  font-weight: bold;
  background-color: #00bf73c7;
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem;
  width: 30%;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .genreItem {
      font-size: 1rem;
      padding: 0rem;
      width: 100%; } }
  .genreItem:hover {
    cursor: pointer;
    background-color: #004d7a; }

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #008793;
  box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 420px) {
    .card {
      flex-direction: column; } }

.selectionContainer {
  padding: 3rem; }

.landing {
  background: linear-gradient(to left top, #0519378c, #004d7a91, #0087938c, #00bf738e, #008793ce, #00bf73a8, #a6eb12), url(../images/landing1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .landing__text {
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
    padding-top: 6rem;
    align-items: flex-end; }
    @media only screen and (max-width: 700px) {
      .landing__text {
        padding-right: 0;
        align-items: center; } }
    .landing__text--title {
      font-size: 3rem;
      font-weight: 900; }
      @media only screen and (max-width: 700px) {
        .landing__text--title {
          font-size: 2rem; } }
    .landing__text--info {
      width: 25rem;
      font-weight: 700;
      line-height: 2rem; }
      @media only screen and (max-width: 700px) {
        .landing__text--info {
          width: 15rem; } }
    .landing__text--login {
      background-color: white;
      border-radius: 2rem;
      text-decoration: none;
      color: #4d4d4d;
      margin-right: 10rem;
      padding: 10px; }
      @media only screen and (max-width: 700px) {
        .landing__text--login {
          margin-right: 0rem;
          align-self: center; } }
      .landing__text--login:hover {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        text-decoration: none; }

.moreDetail {
  background-color: #051937;
  background-size: cover;
  min-height: 100vh;
  color: white;
  padding: 1rem; }
  .moreDetail__layout {
    background-color: #00bf738c;
    padding: 1rem;
    display: flex; }
    @media only screen and (max-width: 850px) {
      .moreDetail__layout {
        flex-direction: column;
        align-items: center; } }
  @media only screen and (max-width: 850px) {
    .moreDetail__img img {
      height: 50vh; } }
  @media only screen and (max-width: 400px) {
    .moreDetail__img img {
      height: 30vh; } }
  .moreDetail__text {
    padding: 2rem; }
  .moreDetail__button {
    border: none;
    background-color: #008793;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem;
    transition: .3s all; }
    .moreDetail__button:hover {
      background-color: #a8eb12; }

.navbar .navbar-brand {
  font-size: 2rem;
  font-weight: 500; }

.navbar .nav-link {
  font-size: 1.25rem;
  color: white; }
