.search-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;

    @media only screen and (max-width: 600px) {
        align-items: inherit;
    }

    &__group{
        background-color: #134083;
        border: none;
        padding: 1rem;
        color: white;
        font-weight: 800;
        font-size: 1.3rem;
        border-bottom: 2px solid white;
        cursor: pointer;
        transition: all .5s;

        &:nth-child(2){
            border-left: 2px solid white;
            border-right: 2px solid white;
        }

        &:hover{
            background-color: #3B73C8;
        }

        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            font-size: 1.15rem;
            padding: .5rem;
            width: 100%;
            border: none;
        }
    }

    &__format{
        margin-top: 1rem;
        border: none;
        background-color: #3B73C8;
        font-size: 1.15rem;
        padding: .5rem;
        font-weight: 800;
        color: white;
        cursor: pointer;
        border-bottom: 2px solid white;
        transition: all .5s;

        &:nth-child(2){
            border-left: 2px solid white;
        }

        &:hover{
            background-color: #134083;
        }

        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            width: 100%;
            border: none;
        }
    }


}

.genre_item{
    color: white;
    padding: 1rem;
    background-color: #134da3;
    cursor: pointer;
    font-weight: 800;
    transition: all .5s;
    &:not(:last-child){
        border-right: 1px solid white;
    }

    &:hover{
        background-color: #3B73C8;
    }
}

.genre_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-top: 1.5rem;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        margin-top: 0;
    }
}

.custom-search{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
}

::placeholder{
    color: white;
}
