.dashboard{
    min-height: 60vh;
    background-color: rgb(14, 59, 126);
    color: white;

    &__content{
        display: flex;
        min-height: 92vh;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        &--navigation{
            background: linear-gradient(
                        to bottom, #0E3B7E, rgb(51, 110, 199), rgb(144, 183, 241));
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            width: 30%;

            .greeting{
                font-size: 2rem;
            }

            @media only screen and (max-width: 600px) {
                flex-direction: row;
                width: 100%;
                padding: 0;
                flex-wrap: wrap;
            }
           .side-nav{
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                background-color: rgb(26, 74, 145);
                box-shadow: 4px 5px 3px #1c1a8b;

                @media only screen and (max-width: 600px) {
                    flex-direction: row;
                }

                &__link{
                    color: white;
                    padding: 2rem;
                    width: 100%;
                    border-top: 1px solid rgb(77, 135, 223);

                    @media only screen and (max-width: 600px) {
                        padding: 1rem;
                    }

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.459);
                        border-radius: 5px;
                    }
                }
           }
        }

        &--display{
            //border: 2px solid yellow;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            width: 70%;
            background: linear-gradient(
                        rgba(77, 135, 223, 0.63),
                        rgba(22, 58, 105, 0.582)
                        ),
                        url(../images/tvpicture.jpeg);
            background-size: cover;
            background-position: left;
            @media only screen and (max-width: 600px) {
                width: 100%;
                min-height: 76vh;
            }
        }
    }

}

.list_item{
    padding: 1rem;
    width: 100%;
    list-style: none;
    background-color: rgba(47, 75, 112, 0.726);
    border-bottom: 2px solid rgba(120, 136, 155, 0.801);
    display: flex;
    justify-content: space-between;

    &__title{

    }

    &__delete{
        border: none;
        border-radius: 5px;
        background: linear-gradient(to left,#3e5bfd, #6487e6);
        color: white;
        font-weight: bold;
        transition: all .5s;

        &:hover{
            cursor: pointer;
            background: linear-gradient(to left,#2a3eafb9, #4b65aac0);
        }
    }
}

.App{
    background-image: linear-gradient(
        to left top, #051937,
        #004d7a, #008793,
        #00bf72, #a8eb12);
}