.genrePage{
    min-height: 100vh;
}

.genreItem{
    color: white;
    font-weight: bold;
    background-color: #00bf73c7;
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 1rem;
    width: 30%;
    text-align: center;

    @media only screen and (max-width: 600px) {
        font-size: 1rem;
        padding: 0rem;
        width: 100%;
    }

    &:hover{
        cursor: pointer;
        background-color: #004d7a;
    }
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: #008793;
    box-shadow: $shadow;
    @media only screen and (max-width: 420px) {
        flex-direction: column;
    }
}

.selectionContainer{
    padding: 3rem;
}