.landing{
    background: linear-gradient(
        rgba(0, 0, 0, 0.747), 
        rgba(109, 109, 109, 0.486)
      ), url(../images/landing1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    &__text{
        color: white;
        display: flex;
        flex-direction: column;
        padding-right: 10rem;
        padding-top: 6rem;
        font-family: "Courier New", Courier, monospace;
        align-items: flex-end;

        @media only screen and (max-width: 700px) {
            padding-right: 0;
            align-items: center;
        }

        &--title{
            font-size: 3rem;
            font-weight: 900;

            @media only screen and (max-width: 700px) {
                font-size: 2rem;
            }
        }

        &--info{
            width: 25rem;
            font-weight: 700;
            line-height: 2rem;

            @media only screen and (max-width: 700px) {
                width: 15rem;
            }
        }       

        &--login{
            background-color: white;
            border-radius: 2rem;
            text-decoration: none;
            color: rgb(77, 77, 77);
            margin-right: 10rem;
            padding: 10px;

            @media only screen and (max-width: 700px) {
                margin-right: 0rem;
                align-self: center;
            }

            &:hover{
                background-color: transparent;
                border: 2px solid white;
                color: white;
                text-decoration: none;
            }
        }
    }

   
}