.landing{
    background: linear-gradient(
        rgba(0, 0, 0, 0.747), 
        rgba(109, 109, 109, 0.486)
      ), url(../images/landing1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    &__text{
        color: white;
        display: flex;
        flex-direction: column;
        padding-right: 10rem;
        padding-top: 6rem;
        font-family: "Courier New", Courier, monospace;
        align-items: flex-end;

        &--title{
            font-size: 3rem;
            font-weight: 900;
        }

        &--info{
            width: 25rem;
            font-weight: 700;
            line-height: 2rem;
        }       

        &--login{
            background-color: white;
            border-radius: 2rem;
            text-decoration: none;
            color: rgb(77, 77, 77);
            margin-right: 10rem;
            padding: 10px;

            &:hover{
                background-color: rgb(85, 85, 85);
                color: white;
                text-decoration: none;
            }
        }
    }

   
}