.moreDetail{
    background-color: #051937;
    background-size: cover;
    min-height: 100vh;
    //height: 100%;
    color: white;
    padding: 1rem;

    &__layout{
        background-color: #00bf738c;
        padding: 1rem;
        //border: 1px solid white;
        display: flex;
        @media only screen and (max-width: 850px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img{
        img{
            @media only screen and (max-width: 850px) {
                height: 50vh;
            }
            @media only screen and (max-width: 400px) {
                height: 30vh;
            }
        }
    }

    &__text{
        padding: 2rem;

    }

    &__button{
        border: none;
        background-color: #008793;
        color: white;
        cursor: pointer;
        font-weight: bold;
        padding: 1rem;
        transition: .3s all;

        &:hover{
            background-color: #a8eb12;
        }
    }
}