.movieList{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;

    .movie{
        background: rgb(255, 21, 21);
        &__img{
            opacity: 0.7;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
}