$linear-color: #051937, #004d7a, #008793,#00bf72, #a8eb12;
$shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);;

.search{
    min-height: 100vh;

    &__container{
        padding: 4rem;
        @media only screen and (max-width: 380px) {
            padding: 1rem;
        }
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        justify-content: space-around;
        padding: 3rem;
        background-image: linear-gradient(to right top, $linear-color);
        box-shadow: $shadow;

        .item_poster{
            box-shadow: $shadow;
        }

        .text-hover{
            position: relative;
            cursor: pointer;
        }

        img{
            display: block;
            @media only screen and (max-width: 1172px) {
                height: 15rem;
            }
        }

        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-image: linear-gradient(
                                to left top, $linear-color);
        }

        .text-hover:hover .overlay {
            opacity: 1;
        }

        .text {
            color: white;
            font-size: 2rem;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;

            @media only screen and (max-width: 1172px) {
                font-size: 1rem;
            }
          }

    }
}

.linearButton{
    background-image: linear-gradient(to left top, $linear-color);
    padding: 1rem;
    box-shadow: $shadow;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;

    &:hover{
        cursor: pointer;
        background-image: linear-gradient(to right bottom, $linear-color);
    }
}

.loadMorePos{
    padding-left: 15%;
    padding-top: 2rem;
}