.search{
    background: linear-gradient(#123E81, rgb(92, 157, 255));
    min-height: 100vh;

    h1{
        color: white;
        text-align: center;
        padding-top: 2rem;
    }
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;

    .movie{
        background: rgb(88, 155, 255);

        img{
            opacity: 0.7;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
}